* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# shell script
*.sh text eol=lf

# windows bat
*.bat text eol=crlf

# docker file
/docker/**/* text eol=lf

# Jenkins file
Jenkinsfile eol=lf
*.Jenkinsfile eol=lf
